.app__chef-content{
display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.app__wrapper_info{
    margin-top: 2rem;
}
.app__cheif-content-guote{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app__cheif-content-guote img{
    margin: 0 1rem;
    width: 47px;
    height: 40px;

}
.app__cheif-sign{
    width: 100%;
    margin-top: 3rem;
}
.app__cheif-sign p:first-child{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}
.app__cheif-sign img{
    width: 250px;
    margin-top: 3rem;
}

@media screen and (max-width: 2000px) {
    .app__cheif-sign img{
        width: 370px;

    }
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 650px) {
    .app__cheif-sign img{
        width: 80%

    }
}